.flex-container-1,
.flex-container-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.flex-item,
.intro,
header {
    width: 100%;
}
header {
    padding: 1em;
    color: rosybrown;
}
header img {
    border-radius: 10em;
    float: left;
    margin-right: 1em;
}
header p {
    font-size: 1.5em;
    font-weight: bold;
}
header p span {
    font-size: 0.8em;
    font-weight: normal;
}
.intro {
    padding: 1em;
    background-color: #f8f8f8;
    font-size: 1.2em;
    line-height: 1.5em;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.project {
    padding: 1em;
}
.project img {
    float: left;
    padding-right: 1em;
}
.project p {
    font-style: italic;
}
.project a {
    font-size: 1.1em;
    color: crimson;
    text-decoration: none;
}
footer {
    border-top: 1px solid #ccc;
}
footer span {
    float: right;
    font-style: italic;
}
@media (min-width: 600px) {
  .flex-container-2 {
    justify-content: space-around;
    flex-direction: row;
  }
  .project {
    width: 40%;
  }
  .intro {
    border: 0;
    width: 65%;
  }
  header {
    width: 20%;
    text-align: center;
  }
  header p {
    margin: 0;
  }
  header img {
        float: none;
        margin: 2em 0 0 0;
  }
  .flex-container-1 {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 1000px) {
  .intro {
    width: 90%;
  }
  footer {
    padding-left: 3em;
    padding-right: 3em;
  }
  .flex-container-2 {
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .project {
    width: 20%;
  }
}
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
